body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,figure,figcaption{
    font-family: 微软雅黑,"Microsoft YaHei",\u9ed1\u4f53,黑体,SimHei;
    margin:0;padding:0;
    /*color: #000000;*/
}
strong{font-weight: normal;}
img{border: none;vertical-align: middle;max-width: 100%;}
html { height: 100%; width: 100%; outline: 0; -webkit-text-size-adjust:none;}
/*body { line-height: 150%; background: #ffffff;}*/

span,b,em{font-weight: normal;font-style: normal;}
input{outline: none;}
input[type=radio]{-webkit-appearance: radio;} input[type=checkbox]{-webkit-appearance: checkbox;}
/*a{text-decoration: none;color: #444444;}*/
ul{list-style-type: none;margin: 0;padding: 0;}
*{-webkit-tap-highlight-color: transparent; -webkit-appearance: none;}
.clearfix:after{content:"";display:block;clear:both;overflow:hidden;visibility:visible;width:0;height:0;}
.fl{float: left;}
.fr{float: right;}
.tm{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right;}
.inb{display: inline-block;vertical-align: middle;}
.tb{display: table-cell;width: 50%;}
.relative{position: relative;}
.ani{position: absolute}
.ellipsis {text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.ellipsis-2{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


body{
    overflow:auto;/* winphone8和android4+ */
    -webkit-overflow-scrolling: touch; /* ios5+ */
}

/*a:link,a:active,a:focus{color: #444;}*/
.col-md-9,.col-md-3,.col-md-5,.col-md-7
,.col-md-8,.col-md-4,.col-md-6,.col-md-2,
.col-md-1,.col-md-11,.col-md-10,.col-md-12{
    padding: 0!important;
}
.dou_top{
    width: 100%;
}
.dou_top img{
    width: 100%;
}
.dou_com{
    width: 1200px;
    margin: 0 auto;
    margin-top: 104px;
    padding-top: 88px;
    padding-bottom: 45px;
    position: relative;
}
.dou_com.blue{
    background: #ebf8fd;
}
.dou_com.orange{
    background: #ffffdb;
    margin-bottom: 70px;
}
.titleImg{
    /*width: 100%;*/
    position: absolute;
    top: -86px;
    left: 50%;
    margin-left: -30%;
}

.dou_con{
    width: 1020px;
    margin: 0 auto;
}
.dou_con b{
    font-weight: bold;
}
.blue_mt01{
    margin-top: 10px;
}
.blue_mt02{
    margin-top: 50px;
}
.blue_mt03{
    margin-top: 80px;
}
.blue_mt04{
    margin-top: 70px;
}
.dou_con ul{
     margin-top: 15px;
}
.dou_con ul li{
    font-size: 18px;
    margin-top: 10px;
}
.dou_con  a{
    width: 140px;
    height: 37px;
    line-height: 32px;
    display: block;
    border: 2px #fff102 solid;
    color: white;
    background: #02a1e9;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
.dou_con  a.ml01{
    margin-left: 300px;
}
.dou_con  a.ml02{
    margin-left: 380px;
}
.dou_con  a.ml03{
    margin-left: 300px;
}
.dou_con  a.ml04{
    margin-left: 380px;
}
.orange_btn{
    width: 141px;
    height: 43px;
    line-height: 40px;
    display: block;
    color: white;
    text-align: center;
    background: #eb6202;
    border: 1px #a94302 solid;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20px;
}
.orange_btn:hover{
    color: white;
}
/*header*/
header {
    padding: 10px 0;
    background: #f9f5e7;
}

.header-list li {
    float: left;
    font-size: 16px;
    color: #353535;
    line-height: 34px;
    margin-right: 20px;
}

.header-list li a {
    color: #2f2f30;
    font-size: 16px;
    line-height: 34px;
}

.login {
    display: none;
    padding-top: 4px;
}

.login a {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    width: 96px;
    font-size: 16px;
    color: #353535;
    margin: 0 3px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #47c789;
}

.online-refer {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px !important;
    width: 96px;
    font-size: 16px;
    color: #ffffff !important;
    text-align: center;
    border-radius: 15px;
    background: #47c789;
}

.appDownload {
    float: right;
    height: 100%;
    padding: 0 25px;
    line-height: 30px;
    position: relative;
    margin-right: 3px;
    margin-top: 4px;
}

.appDownload:hover {
    cursor: pointer;
    background: #dedede;
}

.appDownload:hover span.tit_t {
    color: #353535;
}

.appDownload:hover span.tit_t b {
    border-top: 5px #000000 solid;
}

.appDownload span.tit_t {
    color: #353535;
}

.appDownload span.tit_t b {
    width: 0;
    height: 0;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    border-top: 5px #353535 solid;
    border-left: 5px transparent solid;
    border-right: 5px transparent solid;
}

.appDownload:hover .pull_down {
    display: block;
}

.pull_down {
    width: 100%;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 1100;
    background: #f3f7f7;
    display: none;
}

.pull_down ul li {
    position: relative;
}

.pull_down ul li:hover .code_box {
    display: block;
}

.pull_down ul li:hover {
    /*background: #3e3e3e;*/
    background: #dedede;
    color: white;
}

.first_layer {
    font-size: 12px;
}

.first_layer img {
    width: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.code_box {
    position: absolute;
    right: -70px;
    top: 0;
    display: none;
}

.code_box img {
    width: 70px;
}

/*footer*/
footer{
    padding-bottom: 15px;
    background: #222933;
}
.footer-list{
    display: inline-block;
    vertical-align: top;
    margin-right: 110px;
}
.footer-list li{
    position: relative;
    text-align: left;
}
.footer-list li a{
    font-size: 16px;
    color: #dddddd;
    line-height: 45px;
}
.footer-list li a:hover{
    color: #d62b50;
}
.footer-list li:first-child a{
    color: #9d9e9f;
}
.ft-icon{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
.erm-3-wrap li:hover .erm-3{
    display: block;
}
.erm-3{
    display: none;
    width: 100px;
    height: 100px;
}
.footer-list li .erm-3{
    right: -110px;
    top: -40px;
    position: absolute;
}
.leige-tag{
    margin-top: 35px;
}
.ft-tag em.point{
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    margin-right: 2px;
    background: #27d58d;
    border-radius: 50%;
}
.ft-tag{
    margin-top: 15px;
}
.ft-tag span,.ft-de{
    font-size: 12px;
    color: #d6d6d6;
    padding-right: 5px;
}
.ft-de{
    padding-right: 0;
    margin-top: 15px;
}
.copyRight,.copyRight a{
    font-size: 12px;
    color: #f4f4f4;
}
.copyRight a:hover{
    color: #ff0000;
}